body {
	background-color: #999;
}

.container {
	max-width: 80%;
	border: 1px solid #eee;
	background-color: #fff;
	padding-bottom: 5em;
}

label {
	margin-left: 1em;
}

select {
	width: 100%;
	font-size: 1.5em;
}

li {
	font-size: 1.8em;
}